{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["tw", "clsx", "cva"],
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
