@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 32rem;

  --font-sans: var(--font-geist), Arial, Helvetica, sans-serif;
}
